# nome e cognome: Manila Mingozzi
# matricola: 196050
#
# path: ~/.config/systemd/user/file-compressor.service
#
# comando per abilitare il timer: systemctl --user enable file-compressor.timer
# comando per avviare il timer: systemctl --user start file-compressor.timer

[Unit]
Description= file compressor timer

[Timer]
Unit=file-compressor.service
OnCalendar= Mon, Thu *-*-* 02:00

[Install]
WantedBy= timers.target
