# nome e cognome: Manila Mingozzi
# matricola: 196050
#
# path: ~/.config/systemd/user/file-compressor.service

[Unit]
Description=file compressor service

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=%h/file-compressor
ExecStart=/urs/bin/python3 app.py --path %h/media --size 1048576
