# first and last name: Manila Mingozzi
# student id: 123456
#
# path: ~/.config/systemd/user/file-archiver.timer
#
# command to enable the timer: systemctl --user enable file-archiver.timer
# command to start the timer: systemctl --user start file-archiver.timer

[Unit]
Description=file archiver timer

[Timer]
Unit=file-archiver.service
OnCalendar=Sat,Sun *-*-* 04:00

[Install]
WantedBy=timers.target
